.home video {
  display: none;
  height: 100vh;
}
@media screen and (min-width: 960px) {
  .home video {
    display: flex;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
}
@media screen and (min-width: 960px) {
  .home .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
